@model WorkTimeCreateVM

@{
    ViewData["Title"] = "Create";
}



<div class="container">
    <div class="card">
        <div class="card-header">
            <strong class="text-success">Create Work Time</strong>
        </div>
        <div class="card-body card-block">
            <form asp-action="Create" method="post" class="" enctype="multipart/form-data">

                <div class="form-group">

                    <input asp-for="WorkDay" type="text" placeholder="Enter work day..." class="form-control  mb-2" maxlength="100" autocomplete="off">
                    <span class="text-danger" asp-validation-for="WorkDay"></span>

                    <input asp-for="WorkHour" type="text" placeholder="Enter work hour..." class="form-control  mb-2" maxlength="100" autocomplete="off">
                    <span class="text-danger" asp-validation-for="WorkHour"></span>

                </div>
                <div class="form-group mt-3">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <a asp-action="Index" class="btn btn-primary">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

