
@{
    ViewData["Title"] = "Admin Panel";
}

<h1 style="display:flex; align-items:center; justify-content:center">Welcome to Admin Panel</h1>

@* <div class="dashboard-image" style="display:flex">
    <img src="~/images/admin-panel-image.jpg" alt="Alternate Text" />
</div> *@