@model HistoryCreateVM

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <strong class="text-success">Create About</strong>
        </div>
        <div class="card-body card-block">
            <form asp-action="Create" method="post" class="" enctype="multipart/form-data">

                <div class="form-group">
                    <label class=" form-control-label">Enter history uptitle</label>
                    <input asp-for="UpTitle" type="text" placeholder="Enter uptitle..." class="form-control  mb-2" maxlength="100" autocomplete="off">
                    <span class="text-danger" asp-validation-for="UpTitle"></span>

                    <label class=" form-control-label">Enter history maintitle</label>
                    <input asp-for="MainTitle" type="text" placeholder="Enter maintitle..." class="form-control  mb-2" maxlength="100" autocomplete="off">
                    <span class="text-danger" asp-validation-for="MainTitle"></span>

                    <label class=" form-control-label">Enter history description</label>
                    <input asp-for="Description" type="text" placeholder="Enter description..." class="form-control  mb-2" maxlength="100" autocomplete="off">
                    <span class="text-danger" asp-validation-for="Description"></span>

                    <label class=" form-control-label">Enter history image</label>
                    <input asp-for="Image" class="form-control mb-2">
                    <span class="text-danger" asp-validation-for="Image"></span>

                </div>
                <div class="form-group mt-3">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <a asp-action="Index" class="btn btn-primary">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


