@model RegisterVM

@{
	ViewData["Title"] = "SignUp";
}


@section css {
	<link rel="stylesheet" href="~/sass/pages/Login-register/login-register.css">
}


<div class="wrapper">
	<form method="post" asp-action="SignUp">
		<h2>Register</h2>
		<div class="text-danger" asp-validation-summary="ModelOnly"></div>
		<div class="input-field">
			<input asp-for="FullName" type="text" autocomplete="off">
			<label>Enter your Fullname</label>
			<span class="text-danger" asp-validation-for="FullName"></span>
		</div>
		<div class="input-field">
			<input asp-for="UserName" type="text" autocomplete="off">
			<label>Enter your username</label>
			<span class="text-danger" asp-validation-for="UserName"></span>
		</div>
		<div class="input-field">
			<input asp-for="Email" type="text" autocomplete="off">
			<label>Enter your email</label>
			<span class="text-danger" asp-validation-for="Email"></span>
		</div>
		<div class="input-field">
			<input asp-for="Password" type="password" autocomplete="off">
			<label>Enter your password</label>
			<span class="text-danger" asp-validation-for="Password"></span>
		</div>
		<div class="input-field">
			<input asp-for="ConfirmPassword" type="password" autocomplete="off">
			<label>Confirm password</label>
			<span class="text-danger" asp-validation-for="ConfirmPassword"></span>
		</div>
		<button type="submit">Register</button>
		<div class="register">
			<p>Already have an account? <a asp-controller="Account" asp-action="SignIn">Log In</a></p>
			<p><a asp-controller="Home" asp-action="Index">Go Home</a></p>
		</div>
	</form>
</div>

