@model LoginVM

@{
	ViewData["Title"] = "SignIn";
}


@section css {
	<link rel="stylesheet" href="~/sass/pages/Login-register/login-register.css">
}

<style>
	.input-field input:focus ~ label,
	.input-field input:valid ~ label {
		font-size: 0.8rem;
		top: 10px;
		transform: translateY(-120%);
	}
</style>

<div class="wrapper">
	<form method="post" asp-action="SignIn">
		<h2>Login</h2>
		<div class="text-danger" asp-validation-summary="ModelOnly"></div>
		<div class="input-field">
			<input asp-for="EmailOrUsername" type="text" autocomplete="off">
			<label>Enter your email or username</label>
			<span class="text-danger" asp-validation-for="EmailOrUsername"></span>
		</div>
		<div class="input-field">
			<input asp-for="Password" type="password" autocomplete="off">
			<label>Enter your password</label>
			<span class="text-danger" asp-validation-for="Password"></span>
		</div>
		<div class="forget">
			<a href="/forgot-password.html">Forgot password?</a>
		</div>
		<button type="submit">Let's Go</button>
		<div class="register">
			<p>Don't have an account? <a asp-controller="Account" asp-action="SignUp">Register</a></p>
			<p><a asp-controller="Home" asp-action="Index">Go Home</a></p>
		</div>
	</form>
</div>


