@{
    ViewData["Title"] = "Email Verification";
}

<style>
    .navbar  {
        background-color: black;
    }
</style>

<div class="container" style="padding-top:200px;padding-bottom:200px">
    <div class="alert alert-success text-center" role="alert">
        Great! Please check your email ✅
    </div>
</div>

