@model SliderCreateVM

@{
    ViewData["Title"] = "Create";
}



<div class="container">
    <div class="card">
        <div class="card-header">
            <strong class="text-success">Create Slider info</strong>
        </div>
        <div class="card-body card-block">
            <form asp-action="Create" method="post" class="" enctype="multipart/form-data">
                <div class="form-group">
                    <label class=" form-control-label">Enter title</label>
                    <input asp-for="SliderTitle" type="text" placeholder="Enter here..." class="form-control  mb-2" maxlength="100" autocomplete="off">
                    <span class="text-danger" asp-validation-for="SliderTitle"></span>

                    <label class="d-block form-control-label">Enter description</label>
                    <input asp-for="SliderDesc" type="text" placeholder="Enter here..." class="form-control  mb-2" autocomplete="off">
                    <span class="text-danger" asp-validation-for="SliderDesc"></span>

                </div>
                <div class="form-group mt-3">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <a asp-action="Index" class="btn btn-primary">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



