@model EmployeeCreateVM

@{
    ViewData["Title"] = "Create";
}



<div class="container">
    <div class="card">
        <div class="card-header">
            <strong class="text-success">Create Employee</strong>
        </div>
        <div class="card-body card-block">
            <form asp-action="Create" method="post" class="" enctype="multipart/form-data">

                <div class="form-group">

                    <input asp-for="Name" type="text" placeholder="Enter employee fullname..." class="form-control  mb-2" maxlength="100" autocomplete="off">
                    <span class="text-danger" asp-validation-for="Name"></span>

                    <label>Employee Position</label>
                    <select class="form-control mb-3" asp-for="PositionId" asp-items="@ViewBag.positions">
                    </select>

                    <input asp-for="Description" type="text" placeholder="Enter description..." class="form-control  mb-2" maxlength="100" autocomplete="off">
                    <span class="text-danger" asp-validation-for="Description"></span>

                    <input asp-for="Specialty" type="text" placeholder="Enter specialty..." class="form-control  mb-2" maxlength="100" autocomplete="off">
                    <span class="text-danger" asp-validation-for="Specialty"></span>

                    <input asp-for="SocialIcon" type="text" placeholder="Enter social icon..." class="form-control  mb-2" maxlength="100" autocomplete="off">
                    <span class="text-danger" asp-validation-for="SocialIcon"></span>

                    <input asp-for="Skill1" type="text" placeholder="Enter skill1..." class="form-control  mb-2" maxlength="100" autocomplete="off">
                    <span class="text-danger" asp-validation-for="Skill1"></span>

                    <input asp-for="Skill2" type="text" placeholder="Enter skill2..." class="form-control  mb-2" maxlength="100" autocomplete="off">
                    <span class="text-danger" asp-validation-for="Skill2"></span>

                    <input asp-for="Biography" type="text" placeholder="Enter biography..." class="form-control  mb-2" maxlength="100" autocomplete="off">
                    <span class="text-danger" asp-validation-for="Biography"></span>

                    <input asp-for="Education" type="text" placeholder="Enter education..." class="form-control  mb-2" maxlength="100" autocomplete="off">
                    <span class="text-danger" asp-validation-for="Education"></span>

                    <input asp-for="Awards" type="text" placeholder="Enter awards..." class="form-control  mb-2" maxlength="100" autocomplete="off">
                    <span class="text-danger" asp-validation-for="Awards"></span>

                    <input asp-for="ContactDescription" type="text" placeholder="Enter contact description..." class="form-control  mb-2" maxlength="100" autocomplete="off">
                    <span class="text-danger" asp-validation-for="ContactDescription"></span>

                    <input asp-for="Email" type="email" placeholder="Enter email..." class="form-control  mb-2" maxlength="100" autocomplete="off">
                    <span class="text-danger" asp-validation-for="Email"></span>

                    <input asp-for="Number" type="text" placeholder="Enter number..." class="form-control  mb-2" maxlength="100" autocomplete="off">
                    <span class="text-danger" asp-validation-for="Number"></span>

                    <label class=" form-control-label">Enter employee image</label>
                    <input asp-for="EmployeeImage" class="form-control mb-2">
                    <span class="text-danger" asp-validation-for="EmployeeImage"></span>

                </div>
                <div class="form-group mt-3">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Submit</button>
                        <a asp-action="Index" class="btn btn-primary">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


