@model FooterVM


<footer class="footer">
    <div class="footer-up">
        <div class="container-main">
            <div class="row">
                <div class="col-md-3">
                    <div class="contact-column">
                        <h3>Contact</h3>
                        <div class="text">
                            <p>
                                0665 Broadway NY, New York 10001
                                United States of America
                            </p>
                        </div>
                        <div class="info">
                            <p class="phone">855 100 4444</p>
                            <p class="email">info@barber.com</p>
                        </div>
                        <div class="social">
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 offset-md-1">
                    <div class="work-time">
                        <h3>Work time</h3>
                        <ul>
                            <li>
                                <div class="days">Monday</div>
                                <div class="dots"></div>
                                <span>10:00 - 20:00</span>
                            </li>
                            <li>
                                <div class="days">Tuesday</div>
                                <div class="dots"></div>
                                <span>10:00 - 20:00</span>
                            </li>
                            <li>
                                <div class="days">Thursday</div>
                                <div class="dots"></div>
                                <span>10:00 - 20:00</span>
                            </li>
                            <li>
                                <div class="days">Friday</div>
                                <div class="dots"></div>
                                <span>10:00 - 20:00</span>
                            </li>
                            <li>
                                <div class="days">Saturday</div>
                                <div class="dots"></div>
                                <span>10:00 - 20:00</span>
                            </li>
                            <li>
                                <div class="days">Weekend</div>
                                <div class="dots"></div>
                                <span>Closed</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 offset-md-1">
                    <div class="subscribe">
                        <h3>Subscribe</h3>
                        <div class="content">
                            <div class="col-md-12">
                                <p>Subscribe to take advantage of our campaigns and gift certificates.</p>
                                <form>
                                    <input type="text" name="search" placeholder="Your email" required>
                                    <button>Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container-main">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <p>2023 © All rights reserved. Designed by</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>