@model BarberServiceDetailVM

@{
    ViewData["Title"] = "Detail";
}



<div class="container">


    <div class="table-responsive table--no-card m-b-30">
        <table class="table table-borderless table-striped table-earning">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Service Name</td>
                    <td>@Model.ServiceName</td>
                </tr>
                <tr>
                    <td>Service Image</td>
                    <td><img src="~/images/@Model.ServiceImage" style="width:200px" /></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td style="white-space: normal;">@Model.Description</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>@Model.Price$</td>
                </tr>
                <tr>
                    <td>Icon Image</td>
                    <td><img src="~/images/@Model.IconImage" style="width:85px" /></td>
                </tr>
            </tbody>
        </table>
    </div>


    <a asp-action="Index" class="btn btn-danger">Back</a>

</div>


