@model List<BlogVM>

@{
    ViewData["Title"] = "Blog";
}


@section css {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/sass/pages/Blog/blog.css" rel="stylesheet" />
    <link href="~/css/themify-icons.css" rel="stylesheet" />
}



@section js {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @* <script src="~/js/shop.js"></script> *@
}




<section id="banner-header" style="background-image: url('/images/Blog/bannerimage.jpg')">
    <div class="container-main">
        <div class="row">
            <div class="cover"></div>
            <div class="col-md-12 caption">
                <h5>Our Blog</h5>
                <h1>Latest News</h1>
            </div>
        </div>
    </div>
</section>

<section id="blog">
    <div class="container-main">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-12">
                    <div class="service">
                        <div class="row">
                            <div class="col-12">
                                <div class="image">
                                    <img src="~/images/Blog/1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="content">
                                    <h3>@item.Service</h3>
                                    <h4>@item.Title</h4>
                                    <p>@item.Content</p>
                                    <hr class="line">
                                    <div class="info">
                                        <div class="read-more">
                                            <a asp-controller="Blog" asp-action="Index" class="btn">Read more</a>
                                        </div>
                                        <i class="icon ti-calendar">@item.CreateDate</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
            <div class="col-md-12">
                <div class="pagination">
                    <ul>
                        <li><a href="./blog.html" class="prev"><i class="ti-angle-left"></i></a></li>
                        <li><a href="./blog.html" class="page-link active">1</a></li>
                        <li><a href="./blog.html" class="page-link">2</a></li>
                        <li><a href="./blog.html" class="page-link">3</a></li>
                        <li><a href="./blog.html" class="next"><i class="ti-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

