@model UserVM

@{
    ViewData["Title"] = "Auth";
}



@section css {
    <link rel="stylesheet" href="~/sass/pages/Login-register/login-register.css">
}


<div class="section" style="background-image: url('/images/login.jpg'); background-size: cover; background-repeat: no-repeat;">
    <div class="container-main">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <form method="post" asp-action="SignIn">
                    <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                        <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
                        <label for="reg-log"></label>
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front" style="height:110% !important">
                                    <div class="center-wrap">
                                        <div class="section text-center" style="margin-top:10px">
                                            <h4 class="mb-4 pb-3">Log In</h4>
                                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                            <div class="form-group">
                                                <input asp-for="Login.EmailOrUsername" class="form-style" placeholder="Your email or username" id="logemail" autocomplete="off">
                                                <i class="input-icon fa-solid fa-at"></i>
                                                <span class="text-danger" asp-validation-for="Login.EmailOrUsername"></span>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input asp-for="Login.Password" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                                                <i class="input-icon fa-solid fa-lock"></i>
                                                <span class="text-danger" asp-validation-for="Login.Password"></span>
                                            </div>
                                            <button type="submit" class="btn" style="margin-top:20px"><span>Submit</span></button>
                                            <p class="mb-0 mt-4 text-center"><a href="./forgot-password.html" class="link">Forgot your password?</a></p>
                                            <p class="mb-0 mt-4 text-center"><a asp-controller="Home" asp-action="Index" class="link" style="text-decoration: none;">Go Home</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form method="post" asp-action="SignUp">
                    <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                        <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
                        <label for="reg-log"></label>
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-back" style="height:120% !important">
                                    <div class="center-wrap">
                                        <div class="section text-center" style="margin-top:10px">
                                            <h4 class="pb-3">Sign Up</h4>
                                            <div class="form-group">
                                                <input asp-for="Register.FullName" class="form-style" placeholder="Your Fullname" id="logname" autocomplete="off">
                                                <i class="input-icon fa fa-user"></i>
                                                <span class="text-danger" asp-validation-for="Register.FullName"></span>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input asp-for="Register.UserName" class="form-style" placeholder="Your Username" id="logname" autocomplete="off">
                                                <i class="input-icon fa fa-user"></i>
                                                <span class="text-danger" asp-validation-for="Register.UserName"></span>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input asp-for="Register.Email" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
                                                <i class="input-icon fa-solid fa-at"></i>
                                                <span class="text-danger" asp-validation-for="Register.Email"></span>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input asp-for="Register.Password" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
                                                <i class="input-icon fa-solid fa-lock"></i>
                                                <span class="text-danger" asp-validation-for="Register.Password"></span>
                                            </div>
                                            <button type="submit" class="btn" style="margin-top:20px"><span>Submit</span></button>
                                            <p class="mb-0 mt-4 text-center"><a asp-controller="Home" asp-action="Index" class="link" style="text-decoration: none;">Go Home</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

